<nav id="nav">
  <div class="nav-left">
    <a href="/" class="nav-logo">
      <img class="nav-logo-image" src="/images/logo-weaves-dark.png" alt="Weaves">
    </a>
    <ul class="nav-links">
      <li><a href="/index.html">Inicio</a></li>
      <li><a href="/servicios/index.html">Operaciones</a></li>
      <li><a href="/sectores/index.html">Sectores</a></li>
      <li><a href="/pages/casos-exito.html">Casos</a></li>
      <li><a href="/pages/quienes-somos.html">Quiénes Somos</a></li>
      <li><a href="/pages/blog.html">Blog</a></li>
      <li><a href="/pages/contacto.html">Contacto</a></li>
      <li class="nav-mobile-only"><a href="/pages/diagnostico-gratuito.html">Analizar un proceso</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <a href="/pages/diagnostico-gratuito.html" class="nav-cta">Analizar un proceso</a>
    <button class="menu-toggle" type="button" aria-label="Abrir menú" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
